<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'File Browser ' + ${currentPath}">File Browser</title>
</head>
<body>
<table border="1" cellpadding="10" cellspacing="0" style="border: 1px solid #000000;" th:if="${currentPath == '/'}"
       width="100%">
    <tr>
        <td bgcolor="#f0f0f0" colspan="8" style="font-family: Arial, sans-serif; font-size: 12px;">
            <b>Legal Disclaimer</b><br><br>
            Tutto il materiale presente su questo server è fornito gratuitamente e a scopo informativo. I diritti sui
            contenuti appartengono ai rispettivi autori e proprietari. Non ci assumiamo alcuna responsabilità per
            eventuali errori, omissioni o danni derivanti dall'uso del materiale scaricato da questo sito. Si consiglia
            agli utenti di verificare l'accuratezza delle informazioni e di fare un uso prudente dei contenuti.<br><br>
            In caso di presunte violazioni del copyright, è possibile <a href="mailto:marco@markreds.it">contattarci via
            email</a> per richiedere la rimozione del materiale che
            potrebbe violare i diritti d'autore.<br><br>
            Utilizzando questo sito, l'utente accetta queste condizioni e riconosce di utilizzare il materiale a proprio
            rischio.
        </td>
    </tr>
</table>
<h1 th:text="'Index of ' + ${currentPath}">Index of pathname</h1>
<table>
    <tr>
        <th valign="top">
            <img alt="[ICO]" th:src="@{/icons/blank.gif}">
        </th>
        <th>
            <a th:href="'/fb?order=name&path=' + ${currentPath}">Name</a>
        </th>
        <th>
            <a th:href="'/fb?order=timestamp&path=' + ${currentPath}">Last modified</a>
        </th>
        <th>
            <a th:href="'/fb?order=size&path=' + ${currentPath}">Size</a>
        </th>
        <th>Owner</th>
        <th>Group</th>
        <th>Permission</th>
        <th>
            <a th:href="'/fb?order=description&path=' + ${currentPath}">Description</a>
        </th>
    </tr>
    <tr>
        <th colspan="8">
            <hr>
        </th>
    </tr>
    <tr>
        <td valign="top">
            <img alt="[ROOTDIR]" th:src="@{/icons/up.gif}">
        </td>
        <td>
            <a href="/fb">Root Directory</a>
        </td>
        <td>&nbsp;</td>
        <td align="right">-</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">
            <img alt="[PARENTDIR]" th:src="@{/icons/back.gif}">
        </td>
        <td>
            <a th:href="${hrefParent}">Parent Directory</a>
        </td>
        <td>&nbsp;</td>
        <td align="right">-</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr th:each="file : ${files}">
        <td valign="top">
            <img alt="[ICN]" th:src="'/icons/' + ${file.icon}">
        </td>
        <td>
            <a th:href="${file.href}" th:text="${file.name}">Filename</a>
        </td>
        <td align="right" th:text="${#temporals.format(file.timestamp, 'dd-MM-yyyy HH:mm')}">1981-03-22 13:18</td>
        <td align="right" th:text="${file.sizeFormat}">0b</td>
        <td th:text="${file.owner}">Owner</td>
        <td th:text="${file.group}">Group</td>
        <td style="font-family: Courier, 'Courier New', monospace;" th:text="${file.permission}">
            Permission
        </td>
        <td th:text="${file.description}">Description</td>
    </tr>
    <tr>
        <th colspan="8">
            <hr>
        </th>
    </tr>
    <tr>
        <td colspan="8" style="font-family: Arial, sans-serif; font-size: 10px;"
            th:text="'Found ' + ${files.size} + ' files in ' + ${elapsedSeconds} + '.' + ${elapsedMilliseconds} + ' seconds. ' + ${@environment.getProperty('spring.application.name')} + ' ver.' + ${@environment.getProperty('app.version')}">
            Statistics
        </td>
    </tr>
</table>
</body>
</html>